@import "./function/**";
@import "./setting/**";
@import "./base/**";
@import "./mixin/**";
@import "./plugin/**";
@import "./module/**";
@import "./page/**";


.test {
  padding: 10px;
  margin: 0 auto;
  color: #f00;
  background-color: #fff;
}

body {
  font-size: rem(60);
}
