@import "./function/**";
@import "./setting/**";
@import "./base/**";
@import "./mixin/**";
@import "./plugin/**";
@import "./module/**";
@import "./page/**";

body {
  font-size: rem(16);
  background-color: $black;
  color: $white;
  font-weight: $regular;
}
