.background-line--top {
  position: relative;
  overflow: hidden;

  @include mq("md") {
    overflow: unset;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    z-index: -5;
    top: 1.5%;
    left: 0;
    width: rem(1);
    height: 130%;
    background-color: $accent;
    transform: rotate(-29deg);
    transform-origin: left top;
    overflow: hidden;

    @include mq("md") {
      transform: rotate(-45deg);
      top: -1%;
      bottom: 1%;
    }
  }
}

.background-line--bottom {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
    top: 0%;
    right: 37%;
    width: rem(1);
    height: 150%;
    background-color: $accent;
    transform: rotate(15deg);
    transform-origin: top right;

    @include mq("md") {
      transform: rotate(45deg);
      right: 5.2%;
    }

    @media screen and (min-width: 1920px) {
      right: 27%;
    }
  }
}
