.blog {
  padding-top: rem(99);
  padding-bottom: rem(120);
  max-width: rem(600);
  margin: auto;

  @include mq("md") {
    max-width: rem(1140);
    margin: auto;
    padding-top: rem(212);
    padding-bottom: rem(150);
  }
}

.section-title--blog {
  @include section-title("Blog", auto, rem(0), rem(-20));
}

.blog__container {
  padding-top: rem(68);

  @include mq("md") {
    padding-top: rem(40);
  }
}
