.blog-box {
    padding: 0 rem(20);
    margin-bottom: rem(27);
  
    @include mq("md") {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: rem(32) rem(25);
      margin-bottom: rem(46);
    }
  }
