.blog-card {
  display: block;
  color: #333;
  background-color: $white;
  margin-bottom: rem(24);
  position: relative;
  transition: background 0.6s ease;
  
  @include mq("md") {
    margin-bottom: rem(0);

    &:hover {
      background-color: #333333;
      color: $white;
  
      &::before {
        color: #333;
      }
    }

    &:hover {
      background-color: #333333;
      color: $white;
  
      &::before {
        color: #333;
      }
    }
  }
  
  &:nth-of-type(1)::before {
    position: absolute;
    display: block;
    content: "New";
    top: -4.5%;
    left: -4%;
    width: rem(60);
    height: rem(60);
    border-radius: 50%;
    background-color: #FFBA6A;
    text-align: center;
    line-height: rem(55);
    letter-spacing: rem(2);
    z-index: 1;

    @include mq("md") {
      top: -4%;
    }
  }
}

.blog-card__image {
  width: 100%;
  position: relative;
  background-color: #333333;

  &::before {
    padding-top: 66.5%;
    content: "";
    display: block;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.blog-card__title {
  font-size: rem(18);
  line-height: rem(35);
  letter-spacing: rem(1);
  font-weight: $normal;
  padding: rem(3) rem(24) rem(2) rem(22);

  @include mq("md") {
    padding-bottom: rem(3);
  }
}

.blog-card__caption {
  font-size: rem(14);
  line-height: rem(26);
  letter-spacing: rem(1);
  padding: 0 rem(23) rem(5) rem(23);

  @include mq("md") {
    padding-bottom: rem(12);
  }
}

.blog-card__category-date {
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(16);
}

.blog-card__category {
  display: inline-block;
  font-size: rem(14);
  line-height: rem(26);
  letter-spacing: rem(1);
  padding: rem(1) rem(3) rem(1) rem(5);
  background-color: #ffea2e;
  color: #333333;
  margin-left: rem(23);
}

.blog-card__date {
  display: inline-block;
  font-size: rem(14);
  line-height: rem(26);
  letter-spacing: rem(1);
  margin-right: rem(23);
}
