.contact {
  padding-top: rem(67);
  padding-bottom: rem(64);
  background-color: #3d3d3d;

  @include mq("md") {
    padding-top: rem(148);
    padding-bottom: rem(149);
    margin: auto;
  }
}

.contact__container {
  @include mq("md") {
    max-width: rem(1580);
    margin: auto;
  }
}

.section-title--contact {
  @include section-title("Contact", rem(0), auto, rem(-45));
<<<<<<< HEAD
=======

  &.section-title__contact--underlayer {
    font-size: rem(25);
  }
>>>>>>> b83e119db2a3358afca381b46b97a395d60b2055
}

.contact__text {
  line-height: rem(23);
  letter-spacing: rem(2);
  padding: rem(20) rem(19) rem(46) rem(21);

  @include mq("md") {
    text-align: center;
    margin-top: rem(2);
    padding-bottom: rem(61);
  }
}
