.overview {
  padding-top: rem(48);
}

.section-title--overview {
  @include section-title("Overview");
}

.overview__container {
  margin-top: rem(48);
}

.overview__image {
  width: 100%;
  position: relative;

  &::before {
    padding-top: 69.6%;
    content: "";
    display: block;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
}
