@mixin base-button($width, $m-width, $margin, $m-margin, $m-fz, $m-padding) {
  display: block;
  width: $width;
  margin: $margin;
  font-size: rem(20);
  line-height: rem(29);
  letter-spacing: rem(2);
  background-color: #333333;
  border: 1px solid $white;
  padding: rem(9) rem(0) rem(9) rem(0);
  text-align: center;
  position: relative;

  @include mq("md") {
    width: $m-width;
    margin: $m-margin;
    font-size: $m-fz;
    line-height: rem(54);
    padding: $m-padding;
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $white;
    transition: width 0.3s ease;
  }

  &:hover::before {

    @include mq("md") {
      width: 100%;
    }
  }

  &:hover {

    @include mq("md") {
      color: #333333;
    }
  }
}

.base-button {
  @include base-button
  (rem(335), rem(360), auto, 0, rem(16), rem(3) rem(0) rem(3) rem(0));
}

.base-button--blog {
  @include base-button
  (rem(335), rem(360), auto, auto, rem(16), rem(3) rem(0) rem(3) rem(0));
}

.base-button--contact {
  @include base-button
  (rem(335), rem(360), auto, auto, rem(20), rem(3) rem(4) rem(3) rem(0));
}
