@mixin section-title($content) {
    font-size: rem(20);
    line-height: rem(29);
    letter-spacing: rem(2);
    position: relative;

    @include mq("md") {
        font-size: rem(30);
        line-height: rem(35);
    }

    &::before {
        position: absolute;
        content: $content;
        font-family: $second-font-family;
        font-size: rem(50);
        line-height: rem(72);
        color: $accent;
        opacity: 0.2;
        top: rem(-50);

        @include mq("md") {
            font-size: rem(110);
            letter-spacing: rem(2);
            top: rem(0);
            left: rem(90);
        }
    }

}

.section-title__layout {
    display: flex;
    justify-content: center;
}

