.blog {
  @include mq("md") {
  }
}

.blog__layout {
  max-width: rem(600);
  margin: rem(99) auto rem(120);

  @include mq("md") {
    max-width: rem(1140);
    margin: rem(212) auto rem(150);
  }
}

.section-title--blog {
  @include section-title("Blog", auto, rem(0), rem(-20));
}

.blog__container {
  padding-top: rem(68);

  @include mq("md") {
    padding-top: rem(40);
  }
}
