@mixin common-box($m-left, $m-right, $s-padding) {
  background-color: #333333;
  padding: $s-padding;
  
  @include mq("md") {
    width: rem(510);
    max-width: 100%;
    margin-left: $m-left;
    margin-right: $m-right;
    padding-top: 0;
  }

  .common-box__title {
    font-size: rem(20);
    line-height: rem(29);
    letter-spacing: rem(2);
    text-align: center;
    padding-left: rem(14);

    @include mq("md") {
      font-size: rem(25);
      line-height: rem(15);
      letter-spacing: rem(0.5);
      text-align: left;
      padding-left: 0;
    }
  }

  .common-box__text {
    line-height: rem(23);
    letter-spacing: rem(2);
    padding: rem(24) rem(20) rem(27);

    @include mq("md") {
      line-height: rem(35);
      letter-spacing: rem(0.5);
      padding: rem(48) rem(0) rem(48) rem(0);
    }
  }
}

.common-box--works {
  @include common-box(rem(32), 0, 0 0 rem(21) 0);
}

.common-box--overview {
  @include common-box(0, rem(32), rem(25) 0 rem(21) 0);
}
