.header {
  width: 100%;
  height: rem(50);
  background-color: rgba(17, 17, 17, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.6s ease;

  &.change_color {
    background-color: rgba(17, 17, 17, 1);
  }
}

.header__container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: rem(70);
  padding-top: rem(3);
  margin-left: rem(23);

  @include mq("md") {
    width: rem(94);
    margin-left: rem(32);
  }
}

.header__menu {
  line-height: rem(35);
  letter-spacing: rem(2);

  ul {
    display: flex;
    align-items: center;
  }
  li {
    &:not(:first-child) {
      margin-left: rem(32);

      @include mq("md") {
        margin-left: rem(30);
      }
    }

    a {
      height: rem(50);
      line-height: rem(50);
      display: block;
    }
  }
}

.header__link {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: rem(7);
    display: block;
    width: 0;
    height: rem(1);
    background-color: $accent;
    transition: all 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.header__contact-button {
  display: inline-block;
  color: #333333;
  background-color: $white;
  padding: rem(0) rem(32) rem(0);
  transition: all 0.3s ease;

  &:hover {
    background-color: #333333;
    color: $white;
  }
}

.header__hamburger-button {
  width: rem(25);
  height: rem(15);
  margin-left: auto;
  position: relative;
  top: rem(-5);
  right: rem(22);

  &.is_active {
    right: 3%;
    top: 1%;
  }

  span {
    display: inline-block;
    width: rem(25);
    height: rem(2);
    background-color: $white;
    border-radius: rem(8);
    position: absolute;
    transition: all 0.3s ease;
  }
}

.header__hamburger-button span:nth-of-type(1) {
  top: rem(0);
  right: rem(0);
}

.header__hamburger-button span:nth-of-type(2) {
  top: rem(6);
  right: rem(0);
}

.header__hamburger-button span:nth-of-type(3) {
  top: rem(12);
  right: rem(0);
}

.header__hamburger-button.is_active span:nth-of-type(1) {
  transform: translateY(rem(6)) rotate(-45deg);
}

.header__hamburger-button.is_active span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger-button.is_active span:nth-of-type(3) {
  transform: translateY(rem(-6)) rotate(45deg);
}
