.main-visual {
  height: 100vh;
}

.main-visual__container {
  display: grid;
  height: 100%;
  align-content: center;
  justify-items: center;

  .main-visual__main-title {
    margin-bottom: rem(30);
  }
}

.main-visual__main-title {
  width: 100%;
  font-size: rem(28);
  line-height: rem(28);
  font-weight: $bold;
  letter-spacing: rem(0.5);
  text-align: center;

  @include mq("md") {
    font-size: rem(50);
    line-height: rem(50);
  }
}

.main-visual__sub-title {
  width: 100%;
  font-size: rem(20);
  line-height: rem(20);
  font-weight: $bold;
  letter-spacing: rem(0.5);
  text-align: center;

  @include mq("md") {
    font-size: rem(25);
    line-height: rem(25);
  }
}

/* スライダー全体 */
.main-visual__slider {
  width: 100%;
  height: 100vh;
  background-color: $black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

/* スライダー画像 */
.main-visual__slider .main-visual__image {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

/*
      スライド画像
      表示する画像を定義
    */
.main-visual__slider .main-visual__image:nth-of-type(1) {
  background-image: url(/assets/images/common/mv_01_sp.png);

  @include mq("md") {
    background-image: url(/assets/images/common/mv_01.png);
  }
}
.main-visual__slider .main-visual__image:nth-of-type(2) {
  animation-delay: 7s;
  background-image: url(/assets/images/common/mv_02_sp.png);

  @include mq("md") {
    background-image: url(/assets/images/common/mv_02.png);
  }
}
.main-visual__slider .main-visual__image:nth-of-type(3) {
  animation-delay: 14s;
  background-image: url(/assets/images/common/mv_03_sp.png);

  @include mq("md") {
    background-image: url(/assets/images/common/mv_03.png);
  }
}

/*
      アニメーション設定
      animation-durationのみ変更
    */
.main-visual__slider .main-visual__image {
  animation-name: anime;
  animation-iteration-count: infinite;
  animation-duration: 21s; /* 設定したanimation-delay合計を挿入 */
}

/* アニメーション定義 */
@keyframes anime {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.18);
  }
}
