.news-main-visual {
    position: relative;
}

.news-main-visual__title {
    font-size: rem(30);
    font-weight: $bold;
    line-height: rem(30);
    letter-spacing: rem(2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @include mq("md") {
        font-size: rem(35);
    }
}

